body {
  background-color: #09090b;
  font-family: 'Inter', sans-serif;
}

#titulo {
  font-size: 3rem;
  color: #f5f5f5;
  font-weight: 700;
}

#textito {
  font-size: 1.5rem;
  color: #f5f5f5;
  font-weight: 400;
}

#monto-usuario {
  padding: 8px 12px;
  width: 19rem;
  border-radius: 8px;
  border: 1px solid #374151;
  background-color: #262626;
  color: #f5f5f5;
  outline: none
}

#boton-calcular {
  width: 8rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  background-color: #5d92ff;
  color: #09090b;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#boton-calcular:hover {
  background-color: #4a77cc;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

#resultados {
  font-size: 1.1rem;
  color: #e4e4e7;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". ahorro inversiones ."
    ". disclaimer inversiones .";
  gap: 2rem;
  padding: 0 1rem;
}

.ahorro,
.inversiones {
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  border: 1px solid #374151;
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.ahorro {
  grid-area: ahorro;
}

#titulo-ahorro,
#titulo-inversion {
  color: #f5f5f5;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.card-ahorro,
.card-inversion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: subgrid;
  grid-row: span 3;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
}

.ahorro,
.inversiones {
  background-color: #18181b;
  display: grid;
  grid-template-rows: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  border: 1px solid #374151;
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.dolares,
.dolar-cripto,
.rendimientos,
.plazos-fijos {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding: 0 10px;
}

hr {
  border: none;
  border-top: 1px solid #374151;
  margin: 12px -20px 8px -20px;
}

.hr-grid {
  border: none;
  border-top: 1px solid #374151;
  margin: 6px -30px 6px -30px;
}

#compra-dolares,
#compra-dolar-cripto,
#rendimientos-ganados,
#intereses-ganados {
  padding-top: 6px;
}

.inversiones {
  grid-area: inversiones;
  grid-row: 1 / span 2;
}

.disclaimer {
  background-color: #18181b;
  grid-area: disclaimer;
  align-items: flex-start;
  font-size: 0.9rem;
  border: 1px solid #374151;
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.disclaimer p:first-child {
  margin-top: 10px;
}

.disclaimer p {
  margin-bottom: 5px;
}

li {
  padding: 1px;
}