body {
  background-color: #09090b;
  font-family: 'Inter', sans-serif;
}

#titulo {
  font-size: 3rem;
  color: #5241f5;
  font-weight: 700;
  margin-bottom: 5px;  
}

#textito {
  font-size: 1.5rem;
  color: #f5f5f5;
  font-weight: 400;
  margin-bottom: 60px;
}

#monto-usuario {
  padding: 8px 12px;
  width: 19rem;
  border-radius: 8px;
  border: 1px solid #374151;
  background-color: #262626;
  color: #f5f5f5;
  outline: none
}

#boton-calcular {
  width: 8rem;
  height: 2.5rem;
  margin-top: 1.5rem;
  border-radius: 8px;
  background-color: #5c67da;
  color: #09090b;
  font-size: 1.1rem;
  font-weight: 600;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

#boton-calcular:hover {
  background-color: #5c67dace;
}

#hero {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin-top: 80px;
  margin-bottom: 30px;
}

#resultados {
  font-size: 1.1rem;
  color: #e4e4e7;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-rows: auto auto;
  grid-template-areas:
    ". ahorro inversiones ."
    ". disclaimer inversiones .";
  gap: 2rem;
  padding: 0 1rem;
}

.ahorro,
.inversiones {
  background-color: #18181b;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  border: 1px solid #374151;
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.ahorro {
  grid-area: ahorro;
}

#titulo-ahorro,
#titulo-inversion {
  color: #f5f5f5;
  font-size: 1.8rem;
  margin-bottom: 20px;
}

.card-ahorro,
.card-inversion {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: subgrid;
  grid-row: span 3;
  align-items: stretch;
  gap: 2rem;
  width: 100%;
}

.ahorro,
.inversiones {
  background-color: #18181b;
  display: grid;
  grid-template-rows: auto;
  flex-direction: column;
  align-items: center;
  margin-top: 0px;
  border: 1px solid #374151;
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.dolares,
.dolar-cripto,
.rendimientos,
.plazos-fijos {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
  padding: 0 10px;
}

hr {
  border: none;
  border-top: 1px solid #374151;
  margin: 14px -20px 14px -20px;
}

.hr-grid {
  border: none;
  border-top: 1px solid #374151;
  margin: 6px -30px 6px -30px;
}

#compra-dolares,
#compra-dolar-cripto,
#rendimientos-ganados,
#intereses-ganados {
  padding-top: 6px;
}

.inversiones {
  grid-area: inversiones;
  grid-row: 1 / span 2;
}

.disclaimer {
  background-color: #18181b;
  grid-area: disclaimer;
  align-items: flex-start;
  font-size: 0.9rem;
  border: 1px solid #374151;
  border-radius: 12px;
  padding: 10px 20px 20px 20px;
  width: 100%;
  box-sizing: border-box;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.disclaimer p:first-child {
  margin-top: 10px;
}

.disclaimer p {
  margin-bottom: 5px;
}

li {
  padding: 1.5px;
}

.res {
  color: #5c67da;
}

#footer {
  border-top: 1px dashed rgba(255, 255, 255, 0.082);
  background: linear-gradient(to top, #0c0c0e, #09090b);
  color: #585660;
  padding: 2rem 1rem;
  font-size: 0.9rem;
  letter-spacing: 0.3px;
  margin-top: 4rem;
}

#footer p {
  margin: 0.4rem 0;
  opacity: 0.85;
}

#footer p:first-child {
  font-weight: 600;
  opacity: 1;
}

#footer a {
  color: #585660;
  text-decoration: none;
  opacity: 0.85;
}

#footer a:hover {
  color: #d4d4d8;
}

#footer a.github {
  display: inline-flex;
  align-items: center;
  gap: 6px;
  border: 1px solid #333;
  background-color: #18181b;
  padding: 6px 12px;
  border-radius: 8px;
  color: #d4d4d888;
  transition: all 0.2s ease-in-out;
}

#footer a.github:hover {
  background-color: #27272a;
  border-color: #444;
  transform: translateY(-1px);
}

#logo {
  width: 14px;
}

.titulo-tooltip {
  display: flex;
  align-items: center;
  gap: 8px;
}

.tooltip{
position: relative;
cursor: pointer;
display: inline-flex;
justify-content: center;
align-items: center;
line-height: 0;
padding-top: 1px;
width: 20px;
height: 20px;
background-color: #18181b;
color: #fff;
border: 1px solid #fff;
border-radius: 50%;
font-weight: bold;
font-size: 0.8rem;
transition: background 0.2s;
}

.text-tooltip{
visibility: hidden;
position: absolute;
max-width: 400px;
min-width: 200px;
word-wrap: break-word;
text-align: center;
line-height: 1.2;
bottom: 150%;
left: 20%;
transform: translateX(-50%);
background: #333;
color: #fff;
padding: 4px 8px;
border-radius: 4px;
white-space: normal; 
z-index: 10;
opacity: 0;
transition: opacity 0.5s;
pointer-events: none;
}

.tooltip:hover{
  background-color: #333;  
}

.tooltip:hover .text-tooltip{
  visibility: visible;
  opacity: 1;
}
