body {
  background-color: #09090b;  
}

#titulo {
  font-size: 3rem;
  color: #f5f5f5;
}

#textito {
  font-size: 1.5rem;
  color: #f5f5f5;
}

#monto-usuario {
  padding: 6px;
  width: 19rem;
}

#boton-calcular {
  width: 5rem;
  height: 2rem;
  margin-top: 1.5rem;
  border-radius: 6px;
}

#hero {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 80px;
}

#resultados {
  font-size: 1.2rem;
  color: #f5f5f5;
  display: grid;
  grid-template-columns:1fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". ahorro inversiones ."
    ". disclaimer inversiones .";
  align-items: stretch;
  gap: 2rem;
  justify-items: center;    
}

.ahorro {
  background-color: #18181b;
  grid-area: ahorro;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border: 1px solid #374151;
  border-radius: 6px;
  padding: 0px 16px 10px 16px;
  width: 100%;
  box-sizing: border-box;
}

.card-ahorro {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  gap: 2rem;
}

.dolares {
  display: flex;
  flex-direction: column;
}

.dolar-cripto {
  display: flex;
  flex-direction: column;
}

.inversiones {
  background-color: #18181b;
  grid-area: inversiones;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border: 1px solid #374151;
  border-radius: 6px;
  padding: 0px 16px 10px 16px;
  width: 100%;
  box-sizing: border-box;
  grid-row: 1 / span 2;
}

.card-inversion {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  gap: 2rem;
}

.rendimientos {
  display: flex;
  flex-direction: column;
}

.plazos-fijos {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  background-color: #18181b;
  grid-area: disclaimer;
  border: 1px solid #374151;
  border-radius: 6px;
  padding: 0px 16px 10px 16px;
  width: 100%;
  box-sizing: border-box;  
}
