body {
  background-color: lightgrey;  
}

#hero {
  display: grid;
  place-items: center;
  text-align: center;
  margin-top: 80px;
}

#resultados {
  display: grid;
  grid-template-columns:1fr 3fr 3fr 1fr;
  grid-template-rows: 1fr 1fr;
  grid-template-areas:
    ". ahorro inversiones ."
    ". disclaimer inversiones .";
  align-items: stretch;
  gap: 2rem;
  justify-items: center;    
}

.ahorro {
  grid-area: ahorro;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 0px 16px 10px 16px;
  width: 100%;
  box-sizing: border-box;
}

.card-ahorro {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  gap: 2rem;
}

.dolares {
  display: flex;
  flex-direction: column;
}

.dolar-cripto {
  display: flex;
  flex-direction: column;
}

.inversiones {
  grid-area: inversiones;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 60px;
  border: 2px solid black;
  border-radius: 6px;
  padding: 0px 16px 10px 16px;
  width: 100%;
  box-sizing: border-box;
  grid-row: 1 / span 2;
}

.card-inversion {
  display: flex;
  justify-content: center;
  margin-top: -15px;
  gap: 2rem;
}

.rendimientos {
  display: flex;
  flex-direction: column;
}

.plazos-fijos {
  display: flex;
  flex-direction: column;
}

.disclaimer {
  grid-area: disclaimer;
  border: 2px solid black;
  border-radius: 6px;
  padding: 0px 16px 10px 16px;
  width: 100%;
  box-sizing: border-box;
  
}
